body {
    background-color: #eee;
    color: #445;
    font-family: sans;

    max-width: 60em;
    margin: auto;
}

a {
    color: #66b;
}

a:visited {
    color: #959;
}

a:hover {
    color: #333;
}

pre {
    border: 1px solid #999;
    padding: 0.5em;
}

#license {
    font-size: 0.8em;
    color: #777;

    margin-top: 1em;
}

h1 {
    background-image: url("h1.png"); 
    background-size: 100% 100%;
    color: #fff;
    text-shadow: 0px 0px 4px #339;
    margin-bottom: 0.2em;

    border-top: 2px solid #fcc;
    border-bottom: 2px solid #ccf;

    padding: 0.2em;
    padding-left: 0.4em;
}

.date {
    color: #777;
}

hr {
    border: none;
    border-top: 2px solid #fcc;
    border-bottom: 2px solid #ccf;
}

#sfc {
    border: 1px solid #ccc;
}

.photo {
    border: 1px solid #cce;
}

pre {
    overflow: auto;
}

ol {
    /* Cut the padding in half to make the list not be indented. */
    padding-left: 20px;
}

@media (max-width : 60em) {
    h1 {
        margin-top: 0;
    }

    .content {
        margin: 0.5em;
    }
}
